# EDS 220: Section 2

## Load Data

In [6]:
import pandas as pd
import numpy as np

## 1. Archive Exploration

a. Look through the dataset’s description in the ScienceBase repository. Find the following information:

i. Where was the data collected from??
ii. During what time frame were the observations in the dataset collected?
iii. What was the author’s perceived value of this dataset?

b. In a markdown cell, use your answers to the previous questions to add a brief description of the dataset. Briefly discuss anything else that seems relevant to you. Include a citation, date of access, and a link to the archive.

c. Take a look at the data’s metadata by clicking on the “View” icon of the Coded Events Colorado River Basin Water Conflict Table Metadata.xml file.

#### Answers:

i. Where was the data collected from??

The data was collected from the Colorado River Basin, a critical water source in the southwestern U.S. and northern Mexico, supporting millions of people and ecosystems.

ii. During what time frame were the observations in the dataset collected?

The time frame of the observations can be found in the dataset's metadata from the USGS.

iii. What was the author’s perceived value of this dataset?

The author values the dataset for its role in documenting conflicts over water management, aiding policymakers and stakeholders in addressing challenges related to water allocation and conservation.

b. This dataset provides information on conflicts and crises related to water resource management in the Colorado River Basin. This is a critical watershed to the southwestern United States and northern Mexico. The basin has supported Native American tribes for centuries. It's essential for over 40 million people and extensive agricultural areas. Policymakers can use this data to make informed decisions about water management in a region facing increased competition for resources.
Source: U.S. Geological Survey (USGS) ScienceBase.

c. The metadata for the dataset provides detailed information about the structure, data collection methods, time frame, and key variables. It is essential for understanding how to interpret the data and ensuring the reliability of analyses conducted using it.

In [27]:
# Load the data from the data/ folder
df = pd.read_csv('data/Colorado River Basin Water Conflict Table.csv')

# Nicely display all col names
for i in df.columns:
    print(i)
    
# Display the first few rows to verify
df.head()

Event
Search Source
Newspaper
Article Title
Duplicate
Report Date
Report Year
Event Date
Event Day
Event Month
Event Year
Conflict Present
Crisis Present
Basin
HUC6
HUC2
Place
County
County FIPS
State
State FIPS
Urban or Rural
Issue Type
Event Summary
Stakeholders
Intensity Value
Comments
Related Observation Themes
Article Text Search - water quality
Article Text Search - invasive species
Article Text Search - conservation
Article Text Search - drought
Article Text Search - flood
Article Text Search - ground water depletion
Article Text Search - depletion
Article Text Search - infrastructure
Article Text Search - fish passage
Article Text Search - instream water rights
Article Text Search - water rights
Article Text Search - intergovernmental
Article Text Search - water transfers
Article Text Search - navigation
Article Text Search - fish
Article Text Search - invasive
Article Text Search - diversion
Article Text Search - water diversion
Article Text Search - instream
Article Text Search - aquatic

,Event,Search Source,Newspaper,Article Title,Duplicate,Report Date,Report Year,Event Date,Event Day,Event Month,...,Article Text Search - water rights,Article Text Search - intergovernmental,Article Text Search - water transfers,Article Text Search - navigation,Article Text Search - fish,Article Text Search - invasive,Article Text Search - diversion,Article Text Search - water diversion,Article Text Search - instream,Article Text Search - aquatic
0,1,USGS1-50.docx,The Durango Herald (Colorado),Tribes assert water rights on Colorado River B...,False,7-Apr-22,2022.0,NaN,NaN,4.0,...,17,0,0,0,0,0,0,0,0,0
1,2,USGS1-50.docx,"Journal, The (Cortez, Dolores, Mancos, CO)",Native American tribes assert water rights on ...,False,7-Apr-22,2022.0,NaN,NaN,4.0,...,17,0,0,0,0,0,0,0,0,0
2,3,USGS1-50.docx,The Salt Lake Tribune,'Very positive change.' New Utah law will be a...,False,17-Mar-22,2022.0,NaN,NaN,3.0,...,12,0,0,0,1,0,0,0,12,1
3,4,USGS1-50.docx,Casa Grande Dispatch (AZ),Legislation would let an Arizona tribe lease C...,False,11-Dec-21,2021.0,NaN,NaN,12.0,...,6,0,0,0,0,0,0,0,0,0
4,5,USGS1-50.docx,The Aspen Times (Colorado),Historically excluded from Colorado River poli...,False,19-Dec-21,2021.0,NaN,NaN,11.0,...,18,0,0,0,0,0,0,0,0,0

## 5. String accessor for pandas.Series

In [48]:
# Example series
s = pd.Series(['California; Nevada', 'Arizona', np.nan, 'Nevada; Utah'])
s

s.str.split(';', expand = True)

            0        1
0  California   Nevada
1     Arizona     None
2         NaN      NaN
3      Nevada     Utah

## 6. Examine state codes

#### Our goal today is to find which states are reported in the dataset as having a water conflicts.

a. What are the unique values in the States column?

In [37]:
# This code will display all unique 'State' values in our data.
for i in df['State'].unique():
    print(i)

CO
UT
nan
AZ
OH; UT
AZ; CO; NM; UT
CA
AZ; UT
AZ; NV
CO; UT; WY; NM
AZ; CA
UT; AZ
CO; WY
NV; AZ
CO; AZ
AZ; CA; CO; NV; NM; UT; WY
AZ; CA; NV
NV
NM
UT; CO; WY
CA; NV; AZ
AZ; NM
WY; UT; CO
TX

#### What could be a challenge to writing code to find which states are listed (without repetition)?

Ans: I believe in the case of our assignment the structure of the 'State' column. There are potential intersects between state boundaries and water basins which causes duplicates in our data that we will have to split and clean up. Also NAN values need to be removed from the data as they are currently included.

## 8. Brainstorm

In [55]:
df['State'].str.split(';', expand = True).stack().unique()

array(['CO', 'UT', 'AZ', 'OH', ' UT', ' CO', ' NM', 'CA', ' NV', ' WY',
       ' CA', ' AZ', 'NV', 'NM', 'WY', 'TX'], dtype=object)

## 9. Find unique and find counter per article for each unique state

In [56]:
df['State'].str.split(';', expand = True).stack().str.strip().unique()

array(['CO', 'UT', 'AZ', 'OH', 'NM', 'CA', 'NV', 'WY', 'TX'], dtype=object)

In [66]:
df['State'].str.split(';', expand=True).stack().str.strip().value_counts()

AZ    87
CO    45
UT    40
NV    19
CA    16
NM    13
WY     8
OH     1
TX     1
dtype: int64